* {
    margin: 0;
    padding: 0;
}
body {
    background: #cecece;
}
.container {
    margin: auto;
    position: relative;
    width: 75%;
}
figure, nav, .banner, aside, article, footer {
    background: darkgrey;
    margin: 10px 15px;
}
figure{ 
    height: 50px;
    margin: 10px; 
}
nav {
    height: 35px;
    margin: 10px;
}
.banner {
    height: 200px;
    margin: 10px;
}
.content {
    height: 450px;
    margin: 10px;
}
aside {
    height: inherit;
    width: 35.5%;
    margin: 0;
    float: left;
    padding: 0 10px;
}
article{
    height: inherit;
    width: 60%;
    margin: 0;
    float: right;
    padding: 0 10px;
}
footer{
    height: 200px;
    margin: 10px;
}