* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 75%;
    margin: auto;
    display: block;
    position: relative;
}
header{
    background: black;
    display: flex;
    justify-content: space-between ;
    flex-flow: nowrap;
    height: 100px;
    margin: 0 20px 20px 20px;
}
header img, .foot img, #banner img {
    width: 70px;
    margin: 10px 20px;
}
header h1, header img {
    display: inline-flex;
    justify-content: space-between;
}
h1{
    color: white;
    font-family: sans-serif;
    margin: 20px
}
.menu {
    display: flex;
    justify-content: center;
    list-style: none;
}
.menu li {
    padding: 20px;
    background: orange;
    display: inline-flex;
    justify-content: space-between;
    margin: 0 1em;
}
.menu li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.main-box {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}
.box1 {
    background: fuchsia;
    width: 50%;
    padding: 20%;
    margin: 20px;
}
#banner {
    background: blue;
    height: 80px;
    margin: 20px;
}
#banner img {
    float: right;
}
.box2 {
    background: green;
    width: 300px;
    padding: 10%;
    margin: 20px;
}
footer{
    background: yellow;
    height: 100px;
    margin: 20px;
    margin-bottom: 0;
}