* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #cecece;
}
.container {
    margin: 0 auto;
    width: 75%;
    position: relative;
}
figure, nav, .banner, aside, article, footer {
    background: darkgrey;
    margin: 10px;
}
figure{ 
    height: 50px;
}
nav {
    height: 35px;
}
.banner {
    height: 200px;
}
.content {
    height: 450px;
    margin: 10px;
    position: relative;
}
aside {
    height: inherit;
    width: 39%;
    float: left;
    margin: 0;
}
article{
    height: inherit;
    width: 60%;
    float: right;
    margin: 0;
}
footer{
    height: 200px;
    clear: both;
    top: 400px;
}