* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 85%;
    margin: 0 auto;
}
header {
    height: 100px;
    padding: 20px;
}
.breadcrumbs {
    list-style: none;
    float: left;
    clear: right;
}
.breadcrumbs li {
    float: left;
    padding: 5px;
    margin: 10px;
}
.breadcrumbs li a{
    letter-spacing: 2px;
    text-decoration: none;
}
.breadcrumbs li:last-child a {
    color: darkgrey;
}
nav img {
    width: 50px;
    float: right
}
.main-content {
    position: relative;
    float: left;
}
figure {
    margin: 10px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    float: left;
}
figure img {
    width: 300px;
    height: 300px;
}
figcaption {
    text-align: center;
    padding: 5%;
    font-weight: lighter;
    font-size: 1.2em;
    color: darkgrey;
    font-family: sans-serif;
    letter-spacing: 1px;

}

@media screen and (min-width: 320px) and (max-width:768px) {
    .container {
        width: 100%;
    }
    .breadcrumbs {
        width: 70%;
    }
    .breadcrumbs li {
        margin: 0;
    }
    .breadcrumbs li a{
        font-size: 10px;
    }
}
@media screen and (min-width: 769px) and (max-width:1080px) {
    .container {
        width: 100%;
    }
    .breadcrumbs {
        width: 80%;
    }
    .breadcrumbs li {
        margin: 0;
    }
    .breadcrumbs li a{
        font-size: 14px;
    }
    figure {
        width: 30%;
    }
}