body {
    background: #f1f4f7;
}
#bloque1 {
    background: #8B6EB2;
}
#bloque2 {
    background:#D5B7FF;    
}
#bloque3 {
    background: #E4D0FF;    
}
#bloque3 p {
    width: 30%;
    display: inline-block;
    float: left;
    position: relative;
    margin: 20px;
}
#bloque4{
    width: 100%;
    justify-content: center;
    display: flex;
}
.imagenText{
    padding: 20px;
    font-size: 1.2em;
    border: 2px solid #f1f4f7;
    background: #8B6EB2;

}
.imagenText img {
    display: block;
    margin: auto;
    padding: 0;
}
.imagenText  p {
    color:white;
    font-weight: 100;
}
#title_head {
    font-size: 2.5em;
    color: #ffffff;
    text-align: center;
    font-style: italic;
}