body {
    padding: 20px 20px;
}
#encabezado {
    width: 100%;
}
#encabezado h1{
    font-family: Georgia;
    font-size: 43px;
    letter-spacing: .65px;
    width: 95%;
}
#redes-sociales {
    display: inline-block;
    float: left;
    position: relative;
    width: 100%;
    margin: 20px 0;
}
#redes-sociales p{
    font: 12px Georgia;
    color: gray;
    display: inline-block;
    width: 80%;
}
.circulos {
    border: 1px solid lightblue;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
}
.ion-social-facebook:before{
    font-size: 1.3em;
    padding: 5px 10px;
}
.ion-social-twitter:before,
.ion-android-mail:before,
.ion-chatbubble:before {
    font-size: 1.3em;
    padding: 5px 7px;
}
#time {
    font-family: Arial;
    font-size: 15px;
    color: gray;
    margin: 20px 0;
    display: inline-block
}
#sostenida, #parrafo-ad{
    margin: 15px 0 40px;
    letter-spacing: 0.5;
    font-size: 19px;
    line-height: 30px;
    text-align: left;
    width: 94%;
}
#sostenida::first-letter {
    font: 700 78px/80px Arial;
    float: left;
    margin-right: 12px;
    color: #000
}
img {
    margin: 2em 0;
}
epigrafe {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
#ruta-navegacion {
    list-style: none;
}
#ruta-navegacion li{
    display: inline-flex;
    justify-content: flex-start;
    margin: 0 5px;
}
#ruta-navegacion li a {
    text-decoration: none;
    color:lightskyblue;
}
